## Practice Exercise 1

You are provided with 2 lists that contain the data of an ecommerce website. The first list contains the data for the number of items sold for a particular product and the second list contains the price of the product sold. As a part of this exercise, solve the questions that are provided below.

In [6]:
number = [8, 9, 9, 1, 6, 9, 5, 7, 3, 9, 7, 3, 4, 8, 3, 5, 8, 4, 8, 7, 5, 7, 3, 6, 1, 2, 7, 4, 7, 7, 8, 4, 3, 4, 2, 2, 2, 7, 3, 5, 6, 1, 1, 3, 2, 1, 1, 7, 7, 1, 4, 4, 5, 6, 1, 2, 7, 4, 5, 8, 1, 4, 8, 6, 2, 4, 3, 7, 3, 6, 2, 3, 3, 3, 2, 4, 6, 8, 9, 3, 9, 3, 1, 8, 6, 6, 3, 3, 9, 4, 6, 4, 9, 6, 7, 1, 2, 8, 7, 8, 1, 4]
price = [195, 225, 150, 150, 90, 60, 75, 255, 270, 225, 135, 195, 30, 15, 210, 105, 15, 30, 180, 60, 165, 60, 45, 225, 180, 90, 30, 210, 150, 15, 270, 60, 210, 180, 60, 225, 150, 150, 120, 195, 75, 240, 60, 45, 30, 180, 240, 285, 135, 165, 180, 240, 60, 105, 165, 240, 120, 45, 120, 165, 285, 225, 90, 105, 225, 45, 45, 45, 75, 180, 90, 240, 30, 30, 60, 135, 180, 15, 255, 180, 270, 135, 105, 135, 210, 180, 135, 195, 225, 75, 225, 15, 240, 60, 15, 180, 255, 90, 15, 150, 230, 150]

In [8]:
price[2]

150

In [23]:
l = [32, 34, 12, 27, 33]
l.append([14, 19])
print(len(l))

6

In [24]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
     print(val)

1
2
3

#### How many different products are sold by the company in total?

-  99
-  100
-  101
-  102

In [5]:
# Type your code here
len(number)

102

#### How many items were sold in total?

-  460
-  490
-  500
-  520

In [11]:
# Type your code here
import numpy as np
i=np.array(number)
j=np.add.reduce(i)
j

490

#### What is the average price of the products sold by the ecommerce company?

-  139
-  151
-  142
-  128

In [12]:
# Type your code here
p=np.array(price)
k=p.mean()
k

139.01960784313727

#### What is the price of the costliest item sold?

-  225
-  310
-  280
-  285

In [10]:
# Type your code here
p.max()

285

#### What is the total revenue of the company? [Revenue = Price\*Quantity]

-  67100
-  53900
-  45300
-  71200

In [15]:
# Type your code here
l=i*p
re=np.add.reduce(l)
re

67100

#### Demand for the 20th product in the list is more than the 50th product. [True/False]
-  True
-  False
-  Can't be calculated

In [16]:
# Type your code here


number = np.array(number)
price = np.array(price)

print(number[19]>number[49])

True

#### How many products fall under the category of expensive goods? 
An expensive good is that good whose price is more than the average price of the products sold by the company.

-  48
-  50
-  52
-  54

In [22]:
# Type your code here
mean = price.mean()
mean
cnt=0
for i in price:
    if i>mean:
        cnt=cnt+1
cnt

52

In [25]:
L = [1, 2, 3, 4]
L

[1, 2, 3, 4]

In [27]:
L = [i for i in range(1, 5)]
L

[1, 2, 3, 4]

In [29]:
L=[2, 3, 4, 2, 1, 2, 3]
print(L.index(2))

0

In [32]:
L = [2, 1, 2, 4, 5, 3, 6]
K = 4 in L
K

True

In [36]:
L=[10,20,30,40,50,60,70,80,90,100]

In [42]:
L[2:-1:2]

[30, 50, 70, 90]

In [43]:
[L[i] for i in range(1,9,2)]

[20, 40, 60, 80]

In [55]:
A = [10, 20, 30]
B = [15, 50, 45]
c=B.extend(A)

In [59]:
print(chr(123))

{

In [60]:
S="   dccxfd.   "
S.strip()

'dccxfd.'

'racecar'

In [75]:
s = 'RacEcAr'
s=s.lower()
r=s[::-1]
if s== r :
    print(s+' :is palindrome')
else:
    print(s+' :is Not palindrome')

racecar :is palindrome

In [77]:
s = 'RacEcAr'
s=s.lower()
r=''
for i in s:
    r=i+r
if s== r :
    print(s+' :is palindrome')
else:
    print(s+' :is Not palindrome')

racecar :is palindrome

In [79]:
sentence="I love coding in python"
splitSentence = sentence.split()
reversedSentence=splitSentence[::-1]
print(" ".join(reversedSentence))

python in coding love I

In [81]:
sentence1="I love coding in python"
splitSentence1 = sentence.split()
NewList1=list(reversed(splitSentence1))
print(" ".join(NewList1))

python in coding love I

In [96]:
sentence2="I love coding in python"
sentence3=sentence2.split(' ')
sentence3.reverse()
print(' '.join(sentence3))

python in coding love I

In [104]:
a= "Calorie Consumed"
b=a.lower()
c=b.split()
# final=[i[0].upper()+i[1:] for i in c ]
final=[i.title() for i in c ]
print('_'.join(final))

Calorie_Consumed

In [105]:
in_str = "Calorie Consumed"
vowels_list = [word for word in in_str if word in 'AEIOUaeiou']
other_list = [word for word in in_str if word not in 'AEIOUaeiou']
vowels_str = "".join(vowels_list)
other_str = "".join(other_list)
print(vowels_str+other_str)

aoieoueClr Cnsmd

In [106]:
in_str = "Calorie Consumdfsddaaaed"
vowels_str = ""
other_str = ""

for letter in in_str:
    if letter in 'AEIOUaeiou':
        vowels_str += letter
    else:
        other_str += letter

print(vowels_str+other_str)

aoieouaaaeClr Cnsmdfsddd

In [107]:
# common prefix for multiple string in a list
my_list = ["upgradData","upGradScience",'upgradAI']


def common_prefix(my_list):
    my_list1 = sorted(my_list,key=len)
    prefix = ""
    for i in range(len(my_list1[0])):
        if my_list1[len(my_list1)-1][i].lower() == my_list1[0][i].lower(): 
            prefix += my_list1[len(my_list1) -1][i].lower()
        else:
            break
    return prefix


print(common_prefix(my_list))

# my_list1[len(my_list1) -1][i].lower(), here -1 given for we are comparing with one element from the list
# so the len will be lengnth excluded one element

upgrad

In [117]:
str1="Night"
str2="Thing"

str1=str1.lower()
str1=sorted(str1)
str2=str2.lower()
str2=sorted(str2)

if str1 == str2:
    print(True)
else:
    print(False)

True

In [118]:
string1="Night"
string2="Thing"

def anagrams(string1,string2):
    if len(string1) != len(string2):
        return False
    for i in range(len(string1)):
        if string1.count(string1[i]) != string2.count(string2[i]):
            return False
    return True

print(anagrams(string1,string2))

True

In [120]:
string1="Night"
string2="Thing"
for i in range(len(string1)):
    print(string1.count(string1[i]))
    print(string2.count(string2[i]))

1
1
1
1
1
1
1
1
1
1

In [123]:
d={'a':64, 'b':65, 'c':66, 'd':67}
print(d.values())

dict_values([64, 65, 66, 67])

In [125]:
del d['d']

In [126]:
d

{'a': 64, 'b': 65, 'c': 66}

In [128]:
L1=[8, 9, 2, 2, 3, 4, 5, 2]
dict1={}
for i in L1:
    if i  not in dict1:
        dict1[i] = 1
print(dict1.keys())

dict_keys([8, 9, 2, 3, 4, 5])